<section>
  <div class="new-note">
    <div class="todo-lbl">TODO</div>
    <div class="toggle-img"></div>
   </div>
  <input class="theme-select" type="checkbox">
  <form [formGroup]="noteForm" (ngSubmit)="addNote()" class="new-note-chk">
    <input type="checkbox" formControlName="selectAll">
    <input type=text id="new-note-inp" placeholder='Create new todo..' formControlName="newNoteText">
  </form>
  <table class="note-items-list">
    <tbody>

      <tr *ngFor="let note of notes">
        <td class="note-action"><input type="checkbox"></td>
        <td class="note">{{note}}</td>
        <td class="note-del">
          <img src="/assets/images/icon-cross.svg">
          <button class=note-del-btn (click)="onDelete($event)"></button>
        </td>
      </tr>

    </tbody>
  </table>
</section>
