<form>
  <div class="new-note">
    <div class="todo-lbl">TODO</div>
    <div class="toggle-img-moon"><img src="/assets/images/icon-moon.svg"alt="toggle dark theme"></div>
    <div class="toggle-img-sun"><img src="/assets/images/icon-sun.svg"alt="toggle light theme"></div>
  </div>
  <div>
    <input type=text id="new-note-inp" placeholder='Create new todo..'>
  </div>
  <div class="note-item">
    <input type="checkbox" id="select-note">
    <div class="note-info">Test note</div>
    <img src="/assets/images/icon-cross.svg">
  </div>
</form>
